<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ .title }}</title>
</head>
<body>
  <div class="window">
      <div>
          <h3>Map list</h3>
          <ol>
              {{ range .maplist }}
              <li>
                  <div>
                      Filename: {{ .MapName }}
                      FilePath: {{ .FilePath }}
                      UpdateTime: {{ .UpdateTime }}
                  </div>
              </li>
              {{end}}
          </ol>
      </div>

  </div>
</body>

<style>

</style>
</html>
